.ToggleWrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.Toggle {
  cursor: pointer;
  display: block;
  height: 34px;
  position: relative;
  border-radius: 24px;
  background-color: #d6c8ca;
  transition: background-color 0.3s ease-in-out;
  width: 60px;
}

.Sun {
  position: absolute;
  top: 3px;
  right: 2px;
  width: 28px;
  height: 28px;
  content: url(./../../assets/icons/light/1.png);
}

.Moon {
  position: absolute;
  left: -2px;
  width: 35px;
  height: 35px;
  content: url(./../../assets/icons/dark/-1.png);
}

.Checkbox {
  height: 34px;
  width: 60px;
  visibility: hidden;
  right: 0;
  top: 0;
}

.Slider {
  border-radius: 50%;
  position: absolute;
  background-color: var(--white);
  width: 26px;
  height: 26px;
  right: 30px;
  top: 4px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 20;
}

.DarkMode .Slider {
  transform: translateX(25px);
}

.DarkMode .Toggle {
  background-color: var(--black-a);
}

@media (min-width: 850px) {
  .ToggleWrapper {
    padding-top: 24px;
    padding-right: 0px;
  }
}
