.WeekdayWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 8px;
  margin: 4px 16px;
}

.WeatherIcon {
  width: 32px;
  height: 32px;
}

.WeekdayName {
  font-family: "Quicksand-Bold";
  min-width: 90px;
  text-align: left;
}

.WeekdayMax {
  font-weight: bold;
}

@media (min-width: 850px) {
  .WeekdayWrapper {
    flex-direction: column;
  }

  .WeatherIcon {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
  }

  .WeekdayName {
    margin-bottom: 8px;
    text-align: center;
  }
}
