@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Quicksand-Bold;
  src: url(./assets/fonts/Quicksand/Quicksand-Bold.ttf);
}

:root {
  --black-a: #1b2b38;
  --black-b: #0d1b24;
  --black-c: #3a3a3a;

  --beige: #f7ecdb;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.3s ease-in-out;
  background: var(--beige);
}

body.DarkMode {
  background: var(--black-b);
}
