.WeatherStage {
  background-color: #1b2b38;
  color: white;
  padding: 8px;
}

.CurrentWeek {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 16px;
}

.CurrentDay {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 850px) {
  .WeatherStage {
    border-radius: 8px;
    padding: 24px;
  }

  .CurrentWeek {
    flex-direction: row;
  }

  .CurrentDay {
    margin-bottom: 32px;
  }
}
