.WeatherStage {
  background-color: #222222;
  color: white;
  padding: 8px;
}

.CurrentWeek {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 16px;
}

.CurrentDay {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .WeatherStage {
    border-radius: 8px;
    padding: 24px;
  }

  .CurrentWeek {
    flex-direction: row;
  }

  .CurrentDay {
    flex-direction: row;
  }
}
