.WeatherStage {
  background-color: var(--white);
  color: var(--black-c);
  padding: 0 8px 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.DarkMode .WeatherStage {
  background-color: var(--black-a);
  color: var(--white);
}

.CurrentWeek {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 16px;
}

.CurrentDay {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

@media (min-width: 850px) {
  .WeatherStage {
    padding: 24px;
  }

  .CurrentWeek {
    flex-direction: row;
  }

  .CurrentDay {
    margin-bottom: 32px;
    padding-top: 0;
  }
}
